[user]
    name = Mattias Geniar
    email = m@ttias.be

[core]
    editor = vim
    excludesfile = ~/.gitignore
    whitespace = space-before-tab,indent-with-non-tab,trailing-space

[apply]
    # Detect whitespace errors when applying a patch
    whitespace = fix

[color]
    # Use colors in Git commands that are capable of colored output when
    # outputting to the terminal. (This is the default setting in Git > 1.8.4.)
    ui = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow
    frag = magenta
    old = red
    new = green

[color "status"]
    added = green
    changed = cyan
    untracked = red

[merge]
    # Include summaries of merged commits in newly created merge commit messages
    log = true

[push]
    default = matching
