"*":
  core:
    disabledPackages: [
      "linter-puppet-lint"
    ]
    telemetryConsent: "limited"
  editor:
    fontFamily: "Fira Code"
    fontSize: 20
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "fdb3c013-b81a-435d-97be-3d83e2fe1bbb"
  "linter-puppet-lint":
    executablePath: "/Users/mattias/.rbenv/libexec/rbenv exec puppet-lint"
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: true
